#Wed Apr 15 17:02:36 CST 2020
DI_Trigger=false
UserBank_FieldName=
Password=12345678
Region=NA
LocalSave=Y
Table_Name=Rfid
TID_FieldName=
RSSI_FieldName=
ReaderID_FieldName=ReaderId
RFPower=27
DB_Name=test
DO_Trigger=false
DBSave=Y
DB_IP=192.168.100.229\:3306
ReaderID=aaaa
DB_Type=MYSQL
Time_FieldName=TimeId
Session=S1
Antenna=1
User_Id=Sarah
DI_4=false
DI_3=false
DI_2=false
DI_1=false
Target=A
EPC_FieldName=EpcId
